<div class="containar">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'shops/list', user: @user %>
      <%= render 'shops/post', shop:@shop %>
    </div>
    <div class="col-lg-9">
        <h2>Shops</h2>
        <table class="table table-hover">
          <tbody>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          <% @shops.each do |shop| %>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no2_image.jpg" %></td>
              <td><%=link_to shop.shop_name, shop_path(shop.id)%></td>
              <td><%=shop.caption%></td>
            </tr>
           <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>